html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

header{
	background: url ("../img/bg.png") center no-repeat;
	height: 260px;
	width: 960px;
}

body {
  line-height: 1;
}
body.adminlogin {
  line-height: 1;
  height: 1024 ;
  width: 768;
  background: url(../img/sysad.jpg) no-repeat;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
.skype{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#e9e9e9');
	background-color:#bdbdbd;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:37px;
	line-height:35px;
	width:120px;
	bottom: 13px;
	position: relative;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.skype:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#bdbdbd');
	background-color:#e9e9e9;
	cursor: pointer;
}

.email{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#e9e9e9');
	background-color:#bdbdbd;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:37px;
	line-height:35px;
	width:120px;
	bottom: 13px;
	position: relative;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.email:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#bdbdbd');
	background-color:#e9e9e9;
	cursor: pointer;
}

.chat{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #bdbdbd), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #bdbdbd 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bdbdbd', endColorstr='#e9e9e9');
	background-color:#bdbdbd;
	-webkit-border-top-left-radius:5px;
	-moz-border-radius-topleft:5px;
	border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-moz-border-radius-topright:5px;
	border-top-right-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-moz-border-radius-bottomright:5px;
	border-bottom-right-radius:5px;
	-webkit-border-bottom-left-radius:5px;
	-moz-border-radius-bottomleft:5px;
	border-bottom-left-radius:5px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:37px;
	line-height:35px;
	width:120px;
	bottom: 13px;
	position: relative;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.chat:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #bdbdbd) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #bdbdbd 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#bdbdbd');
	background-color:#e9e9e9;
	cursor: pointer;
}


div.selection{
	position: relative;
	bottom: 25px;

}
div.selection2{
	position: relative;
	bottom: 50px;
}

div.buttones{
	background-color:#AEAEAE ;
	width: 280px;
	height: 80px ;
	border:2px solid #4D4D4D;
	text-align: center;
	position: relative;
	border-radius: 10px;
	left: 860px;
	bottom: 640px;
}

div.whitebox{
	display: block;
	vertical-align: middle;
	background-color:#AEAEAE ;
	width: 200px;
	height: 80px ;
	 background: #D4D4D4 url(bg.gif);
    border: 1px solid #BBB;
	top: 30px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	left: 900px;
	margin-bottom: 20px;
}
div.boxinside{
	display: block;
	vertical-align: middle;
	background-color: gray ;
	width: 200px;
	height: 80px ;
	 background: #595959 url(bg.gif);
    border: 1px solid #BBB;
	top: 8px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	left: 20px;
	margin-bottom: 20px;
}
div.whitebox2{
	display: block;
	vertical-align: middle;
	background-color:#AEAEAE ;
	width: 460px;
	left: 100px;
	height: 100px ;
	 background: #D4D4D4 url(bg.gif);
    border: 1px solid #BBB;
	top: 20px;
	text-align: center;
	position: relative;
	border-radius: 10px;
	left: 100px;
	margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
 
}
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}
.alignment{
	text-align: center;
	position: relative;
	top: 15px;
	right: 2px;
}
body{
  background: #373737 url("../img/bg.png") 0 0 repeat;
}

body {
  font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #404040;
  overflow: hidden;
}

a {
  color: #00a1d2;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #474e4e;
    border-radius: 10px;
    background: #869393;
    background: -webkit-gradient(linear, left top, left bottom, from(#869393), to(#474e4e));
    background: -moz-linear-gradient(top, #869393, #474e4e);
    background: linear-gradient(to bottom, #869393, #474e4e);
	width: 300px;
	height: 50px;
	top: 40px;
	bottom: 10px;
	cursor: pointer;
    text-shadow: #2a2e2e 1px 4px 2px;
    font: normal normal 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 2px solid #545c5c;
    background: #a1b0b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a1b0b0), to(#555e5e));
    background: -moz-linear-gradient(top, #a1b0b0, #555e5e);
    background: linear-gradient(to bottom, #a1b0b0, #555e5e);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #474e4e;
    background: -webkit-gradient(linear, left top, left bottom, from(#474e4e), to(#474e4e));
    background: -moz-linear-gradient(top, #474e4e, #474e4e);
    background: linear-gradient(to bottom, #474e4e, #474e4e);
}
.aedlist{

}

.search {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: relative;
  padding: 0 0 48px;
  top: -1px;
  bottom: 20px;
  text-indent: 120%;
  border-radius: 15px;
  width: 45px;
  height: 1px;
  cursor: pointer;
}
.search:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 7px;
  width: 35px;
  height: 35px;
  background: url("../img/search.gif") 0 0 no-repeat;
}
.search:hover,
.search:focus {
    border: 0px solid #AAAEAE;
	background: #a1b0b0;
	border-radius: 15px;
    background: -webkit-gradient(linear, left top, left bottom, from(#a1b0b0), to(#555e5e));
    background: -moz-linear-gradient(top, #a1b0b0, #555e5e);
    background: linear-gradient(to bottom, #a1b0b0, #555e5e);
    color: #ffffff;
    text-decoration: none;
}
.search:active {
    background: #474e4e;
    background: -webkit-gradient(linear, left top, left bottom, from(#474e4e), to(#474e4e));
    background: -moz-linear-gradient(top, #474e4e, #474e4e);
    background: linear-gradient(to bottom, #474e4e, #474e4e);
}

.othertextbox {
	position: relative;
	left: 100px;
	
	
}

.righttextbox {
	text-align: center-right;
	position: absolute;
	vertical-align: middle;
	left: 680px;
	bottom: 132px;
	
}
.othertextbox2 {
	position: relative;
	left: 100px;
	
}

.righttextbox2 {
	text-align: center-right;
	position: absolute;
	vertical-align: middle;
	left: 680px;
	bottom: 50px;
	
}

table tr td {
    border: 1px solid black;
}

.active {
    background-color: red;
}


.logoutbutton {
    text-align: center;
    vertical-align: middle;
	position: relative;
    background: url("../img/button.png");
	width: 165px;
	height: 50px;
	bottom: 80px;
	left: 360px;
	cursor: pointer;
    font: 20px arial;
    text-decoration: none;
	 border-radius: 2px;
}
.logoutbutton:hover, .logoutbutton:focus{
	 border: 2px solid #333333;
	 background-color: #333333;
}
.logoutbutton:active {
	-webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
	-moz-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
	box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 1);
	margin-top:2px;
    -webkit-transition: all 0.1s ease;
    -moz-transition:    all 0.1s ease;
}

.help-support {
    text-align: center;
    vertical-align: middle;
	position: relative;
    background: url("../img/support.png");
	width: 40px;
	height: 37px;
	bottom: 120px;
	left: 410px;
	cursor: pointer;
    font: 20px arial;
    text-decoration: none;
	 border-radius: 2px;
}



.registerbtn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #474e4e;
    border-radius: 10px;
    background: #869393;
    background: -webkit-gradient(linear, left top, left bottom, from(#869393), to(#474e4e));
    background: -moz-linear-gradient(top, #869393, #474e4e);
    background: linear-gradient(to bottom, #869393, #474e4e);
	width: 100px;
	height: 50px;
	top: 40px;
	bottom: 10px;
	cursor: pointer;
    text-shadow: #2a2e2e 1px 4px 2px;
    font: normal normal 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.registerbtn:hover,
.registerbtn:focus {
    border: 2px solid #545c5c;
    background: #a1b0b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a1b0b0), to(#555e5e));
    background: -moz-linear-gradient(top, #a1b0b0, #555e5e);
    background: linear-gradient(to bottom, #a1b0b0, #555e5e);
    color: #ffffff;
    text-decoration: none;
}
.registerbtn:active {
    background: #474e4e;
    background: -webkit-gradient(linear, left top, left bottom, from(#474e4e), to(#474e4e));
    background: -moz-linear-gradient(top, #474e4e, #474e4e);
    background: linear-gradient(to bottom, #474e4e, #474e4e);
}



.btns {
  height: 1%;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  font-size: 12px;
  display: inline-block;
  border-collapse: collapse;
  box-shadow: 5px 5px 5px #888888;
  border:2px solid #000000;
  position: relative;
  text-align: center;
  vertical-align: middle;
  margin:0px;padding:0px;
}



.help-asst{
	display: inline-block;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #474e4e;
    border-radius: 10px;
    background: -webkit-gradient(linear, left top, left bottom, from(#869393), to(#474e4e));
    background: -moz-linear-gradient(top, #869393, #474e4e);
    background: linear-gradient(to bottom, #869393, #474e4e);
	width: 300px;
	height: 50px;
	top: 40px;
	bottom: 10px;
	cursor: pointer;
    text-shadow: #2a2e2e 1px 4px 2px;
    font: normal normal 20px arial;
    color: #ffffff;
    text-decoration: none;
}
.help-asst:hover,
.help-asst:focus {
    border: 2px solid #545c5c;
    background: #a1b0b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a1b0b0), to(#555e5e));
    background: -moz-linear-gradient(top, #a1b0b0, #555e5e);
    background: linear-gradient(to bottom, #a1b0b0, #555e5e);
    color: #ffffff;
    text-decoration: none;
}

.login {
  position: relative;
  margin: 80px auto;
  width: 400px;
  padding-right: 32px;
  font-weight: 300;
  color: #a8a7a8;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}
.login p {
  margin: 0 0 10px;
}

input, button, label {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: white;
}

input[type=text]{
  padding: 0 10px;
  width: 250px;
  height: 30px;
  color: #bbb;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
input[type=password] {
  padding: 0 10px;
  width: 250px;
  height: 40px;
  color: #bbb;
  font-size: 25px;
  text-shadow: 1px 1px 1px black;
  background: rgba(0, 0, 0, 0.16);
  border: 0;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

input[type=text]:focus, input[type=password]:focus {
  color: white;
  background: rgba(0, 0, 0, 0.1);
  outline: 0;
}

label {
  float: left;
  width: 150px;
  line-height: 40px;
  padding-right: 10px;
  font-weight: 100;
  text-align: right;
  letter-spacing: 1px;
  color: white;
}
.addbtn{
	width: 33px;
	height: 41px;
	border-style: solid;
	border-color: transparent;
	background:url("../img/empty-clipboard.png");
}
.editbtn{
	width: 41px;
	height: 41px;
	border-style: solid;
	border-color: transparent;
	background:url("../img/pencil.png");
}
.deletebtn{
	width: 36px;
	height: 41px;
	border-style: solid;
	border-color: transparent;
	background:url("../img/trash.png");
}
.printbtn{
	width: 41px;
	height: 41px;
	border-style: solid;
	border-color: transparent;
	background:url("../img/print.png");
}

.login-submit {
  position: absolute;
  top: 15px;
  bottom: 10px;
  right: 30px;
  width: 30px;
  height: 30px;
  padding: 15px;
  border-radius: 32px;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}
.login-submit:before, .login-submit:after {
  content: '';
  z-index: 1;
  position: absolute;
}
.login-submit:before {
  top: 30px;
  left: -4px;
  width: -4px;
  height: 10px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}

.login-submit:after {
  top: 6px;
  bottom: 6px;
  right: -4px;
  width: 40px;
}

.login-button {
  position: relative;
  z-index: 2;
  width: 48px;
  height: 3px;
  padding: 0 0 48px;
  top: -16px;
  bottom: 10px;
  right: 9px;
  /* Fix wrong positioning in Firefox 9 & older (bug 450418) */
  text-indent: 120%;
  white-space: nowrap;
  overflow: hidden;
  background: none;
  border: 0;
  border-radius: 24px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
  /* Must use another pseudo element for the gradient background because Webkit */
  /* clips the background incorrectly inside elements with a border-radius.     */
}
.login-button:before {
  content: '';
  position: absolute;
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  background: #00a2d3;
  border-radius: 24px;
  background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
  background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
  background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
  -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.login-button:hover,
.login-button:focus {
    border: 0px solid #545c5c;
    background: #a1b0b0;
    background: -webkit-gradient(linear, left top, left bottom, from(#a1b0b0), to(#555e5e));
    background: -moz-linear-gradient(top, #a1b0b0, #555e5e);
    background: linear-gradient(to bottom, #a1b0b0, #555e5e);
    color: #ffffff;
    text-decoration: none;
}

.login-button:active:before {
  background: #0591ba;
  background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
  background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
  background-image: linear-gradient(to bottom, #0591ba, #00a2d3);
}
.login-button:after {
  content: '';
  position: absolute;
  top: 15px;
  left: 12px;
  width: 25px;
  height: 19px;
  background: url("../img/arrow.png") 0 0 no-repeat;
}
.gitna{
	position: relative;
	top: 30px;
	left: 15px;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 40px;
  background: #282828;
}
.lt-ie9 .login-submit {
  position: absolute;
  top: 12px;
  right: -28px;
  padding: 4px;
}
.lt-ie9 .login-submit:before, .lt-ie9 .login-submit:after {
  display: none;
}
.lt-ie9 .login-button {
  line-height: 48px;
}
.lt-ie9 .about {
  background: #313131;
}
